.inputField {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    width: 100%;
    height: 2rem;
    font-size: 16px;
    padding: 0 10px;
    box-shadow: none;
}

label {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}