.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 360px;
    width: 70%;
    padding: 20px;
    border: 1px solid purple;
    margin-top: 10px;
    background-color: white;
}

.topBar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.coursesList {
    width: 100%;
}