.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    margin-top: 10px;
}

.textarea {
    outline: none;
    border: 1px solid purple;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    margin: 5px 10px;
    resize: none;
}

.label {
    margin: 10px 0 0 10px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
}

.authors__content {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left__box {
    border: 1px solid purple;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.add__author {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add__author h2 {
    text-align: center;
}

.duration {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.duration__value {
    font-size: 24px;
}

.right__box {
    margin-left: 5px;
    border: 1px solid purple;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authors {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authors__list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 601px) {
    .authors__content {
        flex-direction: column;
        align-items: center;
    }

    .left__box, .right__box {
        width: 100%;
        margin: 10px 0;
    }
}